@import '../base.scss';

@font-face {
  font-family: 'Black-Stanky';
  src: url('/fonts/black-stanky.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open sans';
  src: url('/fonts/open-sans-regular.woff2') format('woff2'),
    url('/fonts/open-sans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  @include font-smoothing(true);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  @include text-medium;
  color: $secondary-color;
}

h1 {
  @include heading-large;
}
h2 {
  @include heading-medium;
}
h3 {
  @include heading-small;
}
p {
  margin-top: 0;
}
em,
strong {
  font-weight: $bold;
  font-style: normal;
}
