/* stylelint-disable value-keyword-case */
$system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$sans-serif: 'Montserrat', $system-font;
$serif: 'Black-Stanky', serif;

$normal: normal;
$bold: bold;

@mixin numeric-font {
  font-family: $system-font;
}
@mixin regular-font {
  font-family: $sans-serif;
  font-weight: $normal;
}
@mixin serif-font {
  font-family: $serif;
}

/**
 * Body
 */
@mixin text-large {
  @include regular-font;
  font-size: rem(18);
  line-height: 1.7;
  @include bp-min(medium) {
    font-size: rem(24);
  }
}
@mixin text-medium {
  @include regular-font;
  font-size: rem(16);
  line-height: 1.7;
  @include bp-min(medium) {
    font-size: rem(18);
  }
}
@mixin text-small {
  @include regular-font;
  font-size: rem(12);
  line-height: 1.7;
  @include bp-min(medium) {
    font-size: rem(14);
  }
}

/**
 * Heading
 */
@mixin heading-huge {
  @include serif-font;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: $primary-color;
  font-weight: $normal;
  font-size: rem(50);
  line-height: 1;

  @include bp-min(small) {
    font-size: rem(62);
  }
  @include bp-min(medium) {
    font-size: rem(75);
  }
}
@mixin heading-large {
  @include serif-font;
  margin-top: 0;
  margin-bottom: 2rem;
  color: $primary-color;
  font-weight: $normal;
  font-size: rem(90);
  line-height: 1;

  @include bp-min(medium) {
    font-size: rem(150);
  }
}
@mixin heading-medium {
  @include serif-font;
  margin-top: 0;
  margin-bottom: 0.75rem;
  color: $primary-color;
  font-weight: $normal;
  font-size: rem(70);
  line-height: 1;

  @include bp-min(medium) {
    font-size: rem(90);
  }
}
@mixin heading-small {
  @include serif-font;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: $primary-color;
  font-weight: $normal;
  font-size: rem(50);
  line-height: 1;

  @include bp-min(medium) {
    font-size: rem(70);
  }
}
@mixin heading-tiny {
  @include serif-font;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: $primary-color;
  font-weight: $normal;
  font-size: rem(20);
  line-height: 1;

  @include bp-min(medium) {
    font-size: rem(24);
  }
}
